.recipeCardsWrapper {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 12px;
  margin: 10px auto;
}
.categoriesWrapper {
  display: flex;
  padding: 20px 0;
}
.categoryItem {
  margin: auto;
  border: 2px solid black;
  padding: 4px 8px;
}

.lettersWrapper{
  display: flex;
  gap: 15px;
  justify-content: center;
}
.lettersWrapper div{
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}
